<p><?=implode(',', $this->messages);?></p>
<form action="<?=$this->url('application',array('action' => 'login'));?>" method="post">
    Usuário
    <input type="text" name="usuario" autofocus="autofocus"><br><br>
    Senha
    <input type="password" name="senha"><br><br>
    <input type="submit" value="Entrar">
</form>