<tr>
    <td><a href="<?=$this->url('hobbit',array('action' => 'edit', 'id' => $this->id))?>"><?=$this->id?></a></td>
    <td><?=$this->nome?></td>
    <td><?=$this->tocas->nome?></td>
    <td><a href="<?=$this->url('hobbit',array('action' => 'delete', 'id' => $this->id))?>">Excluir</a></td>
</tr>