<a href="<?=$this->url('hobbit');?>">Cadastro de Hobbits</a><br>
<a href="<?=$this->url('tocas');?>">Cadastro de Tocas</a><br>
<a href="<?=$this->url('application', array('action'=>'logout'));?>">Sair</a><br>