<a href="<?=$this->url('tocas',array('action'=>'edit'))?>">Incluir</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?=$this->partialLoop('tocas.phtml',$this->records)?>
    </tbody>
</table>
